<a href="https://colab.research.google.com/github/DR2023/pythonforAI/blob/main/AIFab_50_Pandas_assignment_2_8_27_DR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Import the libraries
import pandas as pd

Pandas Basic

In [ ]:
# Upload and Read the csv file

data = pd.read_csv('https://raw.githubusercontent.com/nunnarilabs/ml/master/Book_Dataset/books.csv',error_bad_lines=False)
data

<ipython-input-9-c6bcc8c7617e>:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv('https://raw.githubusercontent.com/nunnarilabs/ml/master/Book_Dataset/books.csv',error_bad_lines=False)
Skipping line 3350: expected 12 fields, saw 13
Skipping line 4704: expected 12 fields, saw 13
Skipping line 5879: expected 12 fields, saw 13
Skipping line 8981: expected 12 fields, saw 13

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic
...,...,...,...,...,...,...,...,...,...,...,...,...
11118,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9781560254416,eng,512,156,20,12/21/2004,Da Capo Press
11119,45633,You Bright and Risen Angels,William T. Vollmann,4.08,0140110879,9780140110876,eng,635,783,56,12/1/1988,Penguin Books
11120,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,0140131965,9780140131963,eng,415,820,95,8/1/1993,Penguin Books
11121,45639,Poor People,William T. Vollmann,3.72,0060878827,9780060878825,eng,434,769,139,2/27/2007,Ecco
11122,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9788497646987,spa,272,113,12,5/28/2006,Edimat Libros

# 1)
##  a)How many rows and columns are there in the dataset?
##  b)Optain information and describe the data

#2)
##  a)How many unique publishers are there in the dataset?
##  b)Identify column's with a space and fill it with a underscore(_) using str

# 3) How many books are written by J.K. Rowling?

# 4) Total number of pages across all books

# 5) Could you provide me with a list of all the book titles that share the distinction of having the highest average ratings in the dataset?

# 6) Number of books published by "Scholastic Inc."

7) Which language appears most frequently in the dataset and how many books are in that language?

# 8) What is the earliest and latest publication year in the dataset?

In [ ]:
#Use the below code to change the column into date and time format
#data['publication_date'] = pd.to_datetime(data['publication_date'], errors='coerce',infer_datetime_format=True)

# 9) Most frequent language and Most common publication date

# 10) Which authors have the highest average ratings for their books? List top 5

# 11) On average, which publisher has the longest books (highest average number of pages)?

# 12) Which book has the highest ratings count-to-pages ratio? (Ratings Count / Number of Pages)

# 13) How many books were published by each publisher in the "eng" language? List top 5 publishers.

# 14) Which year has the highest number of reviews (text reviews count)? How many reviews?

# 15) On average, how does the ratings count differ between English and Spanish books?